<h1 mat-dialog-title>Add product Form</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input formControlName="productName" matInput placeholder="Name" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Product Category</mat-label>
            <mat-select formControlName="category" placeholder="Category">
            <mat-option value="pc" >pc</mat-option>
            <mat-option value="smartphone" >smartphone</mat-option>
            <mat-option value="mouse" >mouse</mat-option>
            <mat-option value="headphone" >headphone</mat-option>
            <mat-option value="extra" >Extra</mat-option>
            <mat-option value="desktop" >Desktop</mat-option>
        </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
          <div class="form-group form-row">
            <label>choose an image</label>
          <input type='file' formControlName="prodImg" />
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input formControlName="price" matInput type="number" placeholder="Price">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput></textarea>
          </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close >Close</button>
    <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>

</div>