<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h5>Register Yourself !!</h5>
                </div>
                <form >
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()" >
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Full Name</label>
                          <input formControlName="fullname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
                          <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">Full Name is required</span>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Address</label>
                            <input formControlName="address" type="text" class="form-control" id="exampleInputEmail1" placeholder="Address">
                            <span class="text-danger" *ngIf="signupForm.controls['address'].dirty && signupForm.hasError('required','address')">Address is required</span>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email adress</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" >
                            <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">Email is required</span>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                            <input formControlName="phone" type="number" class="form-control" id="exampleInputEmail1" placeholder="Phone Number" >
                            <span class="text-danger" *ngIf="signupForm.controls['phone'].dirty && signupForm.hasError('required','phone')">Phone Number is required</span>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">Password is required</span>
                        </div>
                        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary mb-2" >Sign Up</button>
                      </form>
                      <a style="color:#fff;margin-top:10px" routerLink="/login">Already registered? Click to Login!!</a>
                </form>
            </div>
        </div>
    </div>
</div>